*{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    margin: 0;
    position: relative;
}


/* navbar css */
#main-nav{
    background-color: #0009;
}

#main-nav .navbar-nav .nav-item .nav-link{
    color: white;
    border-bottom: 5px solid #fff;
}

#main-nav .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 5px solid rgb(69,71,255);
  }
  #main-nav .navbar-nav .nav-item .nav-link.active {
    border-bottom: 5px solid rgb(69,71,255);
}

.navbar-brand{
    font-weight: bold;
}


/* body css */
.titles{
    font-weight: bold;
    font-size: 7vh;
    margin-bottom: 6vh;
}

.projecttitle {
    font-size: 4vh;
}

.infosection{
    min-height: 50vh;
}

.projectimg{
    width: 100%;
}