.masthead {
    height: 100vh;
    min-height: 500px;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  body{
      margin: 0;
  }

  #main-nav{
      background-color: #0009;
  }

  nav .navbar-nav li a{
    color: white !important;
    font-weight: bold;
    border-bottom: 5px solid #fff;
    }

    .test1{
        height: 70vh;
    }

    .test2{
        height: 70vh;
    }